<ion-view view-title="Gallery">
  <ion-content lazy-scroll >

    <div class="list half" style="padding: 16px 0px 16px 8px">
      <div ng-repeat="album in data.albums | limitTo:numberOfItemsToDisplay" ng-if="$odd"  ng-click="goToAlbum(album.id)">

        <div class="card card-gallery item item-text-wrap">
          <div class="ink dark-bg">
            <h2 style="text-transform: uppercase">{{album.name}}</h2>
            <img class="full-image" image-lazy-src="{{'http://graph.facebook.com/'+album.cover_photo.id+'/picture?type=normal'}}" image-lazy-loader="lines" >>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item stable-bg assertive">
              <i class="icon ion-heart"></i>
              {{album.likes.summary.total_count}}
            </a>
            <a class="tab-item stable-bg positive-900">
              <i class="icon ion-chatbubbles"></i>

              {{album.comments.summary.total_count}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="list half" style="padding: 16px 20px 16px 0px;
">
      <div ng-repeat="album in data.albums | limitTo:numberOfItemsToDisplay" ng-if="$even " ng-click="goToAlbum(album.id)">

        <div  class="card card-gallery item item-text-wrap">
          <div class="ink dark-bg">
            <h2 style="text-transform: uppercase">{{album.name}}</h2>
            <img class="full-image" image-lazy-src="{{'http://graph.facebook.com/'+album.cover_photo.id+'/picture?type=normal'}}" image-lazy-loader="lines">  >
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item stable-bg assertive">
              <i class="icon ion-heart"></i>
              {{album.likes.summary.total_count}}
            </a>
            <a class="tab-item stable-bg positive-900">
              <i class="icon ion-chatbubbles"></i>
              {{album.comments.summary.total_count}}
            </a>
          </div>
        </div>
      </div>
    </div>


   <!-- // loadMore() is called when the user scrolls greater than distance away from the bottom of the content.-->
    <ion-infinite-scroll
      immediate-check="false"
      ng-if="hasMoreData"
      on-infinite="loadMore()"
      distance="1%"

      >
    </ion-infinite-scroll>


  </ion-content>
</ion-view>
