<ion-view view-title="articles">
  <ion-content class="padding">
    <!-- card one -->

    <div class="list card stable-bg">
      <div class="item item-avatar"><img src="img/ionic.png">
        <h2 style="text-transform: uppercase">The Night of the Mora Titans 2k15</h2>
        <p>by&nbsp;<a style="font-weight: 300; font-size: 0.9em;" href="#">SASITHA WATHMAL</a></p>
      </div>

      <div class="item item-image">
        <img src="http://moraspirit.com/sites/default/files/styles/teaser_image/public/featured_article/main_image/pic.jpg?itok=E1SuEHFd">
      </div>

      <div class="item item-body"><p style="text-align: justify; font-family: 'Roboto Slab'; text-transform: uppercase;">The Annual Colors awarding ceremony of University of Moratuwa was held with pomp and pageantry, on the 18th of March 2016 from 4.30pm onwards at the Civil Auditorium ...<p>

          <!--<a class="subdued">5 comments</a></p>-->
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-thumbsup"></i>
        like</a>
        <a href="#/app/articles/1" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-document-text"></i>
        read more</a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-share"></i>
        share</a>
      </div>
    </div>

  </ion-content>
</ion-view>
