<ion-view view-title="">
  <ion-content ng-class="{expanded:$scope.isExpanded}" >
    <div class="hero slide-up" style="background-image: url('{{article.uri | URLmaker}}') {{backgroundStyle}}" >
      <div class="content">

      </div>
    </div>
    <div class="mid-bar dark-bg z1 padding">
      <h3 style="">{{article.title}}</h3>
      <p style="text-transform: uppercase;     font-size: small;">on {{article.created}}  &nbsp; by {{article.name}}</p>
    </div>

    <div class="content double-padding animate-fade-slide-in-right">
      <!--post content-->
      <div class="field-item even" property="content:encoded">
        <p ng-bind-html="article.body_value | nl2br"></p>
      </div>

      <h3 class="outline padding balanced inline img-rounded">
        4.2
      </h3>
    </div>

  </ion-content>
</ion-view>
