<ion-view view-title="Articals">
  <ion-content>
    <h1>Articals</h1>

<!-- card one -->

    <div class="card bar-royal">
      <div class="item item-divider">
        Articae title
      </div>
      <div class="item item-text-wrap">
        Article content
      </div>
    </div>


<!-- card two -->

    <div class="list card">
    <div class="item item-avatar">
        <img src="img/ionic.png">
        <h2>Mora Spirit Supporter</h2>
        <p>Mobole app</p>
      </div>



      <div class="item item-body">
        <img class="full-image" src="img/MSP HiQuality LOGO.png">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued ion-android-attach"> Read More>></a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
