<ion-side-menus enable-menu-with-back-views="false">

  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">

      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

<!--      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover"
                ng-click="popover.show($event)">
        </button>
      </ion-nav-buttons>-->

    </ion-nav-bar>

    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="expanded">
      <div class="menu-bottom">
        <img src="img/msp_text_logo_300.png" style="width: 75%; height: auto">
      </div>
    </ion-header-bar>
    <ion-content class="has-expanded-header">
      <ion-list style="padding-top: 8px;">
        <ion-item menu-close href="#/app/articles" class="item-icon-left">
          <i class='icon mdi mdi-file-document'></i>
          Articles
        </ion-item>
        <ion-item menu-close href="#/app/album" class="item-icon-left">
          <i class='icon mdi mdi-image-multiple'></i>
          Gallery
        </ion-item>
        <hr style="opacity: 0.3" />
        <ion-item menu-close style="opacity: 0.5; font-weight: 500; padding-top: 14px; padding-bottom: 14px;">
          SLUG 2016
        </ion-item>
        <ion-item menu-close href="#/app/slug" class="item-icon-left">
          <i class='icon mdi mdi-clock'></i>
          Recent
        </ion-item>
        <ion-item menu-close href="#" class="item-icon-left">
          <i class='icon mdi mdi-trophy-variant'></i>
          Rankings
        </ion-item>

        <hr style="opacity: 0.3" />

        <ion-item menu-close href="#" class="item-icon-left">
          <i class='icon mdi mdi-information'></i>
          About
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>


</ion-side-menus>
