<ion-view view-title="Rankings">

  <!-- <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">The Leading point score is:</h1>
  </ion-header-bar> -->

  <ion-content class="has-header">

    <div class="rankingtable">
      <div class="rankingtable-cell">
        <ul class="rankingleader">
          <li ng-repeat="data in data | orderBy: 'points'">
            <span class="rankinglist_num">{{data.position}}</span>
            <img class="rankingimg" src="{{data.img}}" />
            <h2>{{data.name}}<span class="rankingnumber">{{data.points}}</span></h2>
          </li>

        </ul>
      </div>
    </div>



  </ion-content>
</ion-view>
