<ion-view view-title="SLUG 2016 Recent">

  <ion-content>
    <ion-list>


      <ion-item class="wrap" ng-repeat="notification in notifications">
        {{notification.message}}
        <br>
        <div class="pull-left resent">
          <i class="icon ion-clock"></i> just now
        </div>
      </ion-item>


      <!-- dummy data
      <ion-item class="wrap" ng-repeat="notification in notifications">
       {{notification.message}}

        <div class="pull-left resent">
          <i class="icon ion-clock"></i> just now
        </div>
      </ion-item>

      <ion-item class="wrap">
        UOM won by 4 wickets. MoraSpirit – The Spirit of University Sports was launched in September 2009.
        <div class="pull-left resent">
          <i class="icon ion-clock"></i> just now
        </div>
      </ion-item>
      <ion-item class="wrap">
        UOM won by 4 wickets. MoraSpirit – The Spirit of University Sports was launched in September 2009.
        <div class="pull-left resent">
          <i class="icon ion-clock"></i> just now
        </div>
      </ion-item>
      <ion-item class="wrap">
        UOM won by 4 wickets. MoraSpirit – The Spirit of University Sports was launched in September 2009.
        <div class="pull-left resent">
          <i class="icon ion-clock"></i> just now
        </div>
      </ion-item>
--->
    </ion-list>
  </ion-content>
</ion-view>
