<ion-view view-title="scores">
  <!--<ion-content>
    <h1 style="text-align:center">SLUG 2016</h1>

    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-watch"></i>
        Current Matches
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-clipboard"></i>
        Match schedule
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Points Table
      </a>

      <a class="item item-icon-left" href="#" >
        <i class="icon ion-person-stalker"></i>
        Friends
      </a>

</div>

  </ion-content>-->

  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="item card-item">
      <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap" style="text-transform: uppercase;">
          <span class="avatar" style="background-image: url('img/uni_logos/uom.png');"></span>
          <strong>university of moratuwa</strong> won by 4 wickets.
          <div class="card-footer text-right" style="text-transform: lowercase;">
            <i class="icon ion-chatbubbles positive"></i> 6
            <i class="icon ion-heart assertive"></i> 23
            <div class="pull-left">
              <i class="icon ion-clock"></i> just now
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item card-item">
      <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap" style="text-transform: uppercase;">
          <span class="avatar" style="background-image: url('img/uni_logos/University_of_Peradeniya_crest.png');"></span>
          <strong>university of peradeniya</strong> won basketball beating <strong>university of jaffna</strong>.
          <div class="card-footer text-right" style="text-transform: lowercase;">
            <i class="icon ion-chatbubble positive"></i> 2
            <i class="icon ion-heart assertive"></i> 4
            <div class="pull-left">
              <i class="icon ion-clock"></i> 12 mins ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item card-item">
      <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap" style="text-transform: uppercase;">
          <span class="avatar" style="background-image: url('img/uni_logos/ruh.jpg');"></span>
          <strong>UNIVERSITY OF RUHUNA</strong> won badminton championship.

          <div class="card-footer text-right" style="text-transform: lowercase;">
            <i class="icon ion-chatbubble positive"></i> 2
            <i class="icon ion-heart assertive"></i> 4
            <div class="pull-left">
              <i class="icon ion-clock"></i> 3 hrs ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
