/* Empty. Add your own CSS if you like */


/*Hide scroll bar on every screen*/
.scroll-bar-indicator
{
  display: none;
}

/*moraStyle is class added to ion-content*/

.moraStyle {
  background-color: #3f4041 !important; /* This sets the background color*/
 }

/*Set the background to transparent for ion-item*/
.moraStyle .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.moraStyle .item:last-child {
  border-bottom: 1px solid #666;
}

.moraStyle .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.moraStyle h2,
.moraStyle h3,
.moraStyle p,
.moraStyle a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
